<div class="datarow clearfix" ng-class="{ 'has-img': mappings.image.current >= 0 }">
	<div ng-if="mappings.image.current >= 0" class="pull-left img" style="background-image: url({{d('image')}})"></div>
	<h1 ng-if="mappings.heading.current >= 0">
		{{d('heading')}}
	</h1>
	<div ng-if="mappings.date.current >= 0" class="p">
		<em>{{moment(d('date')).format(rows.dates)}}</em>
	</div>
	<div ng-if="mappings.description.current >= 0" class="p">
		{{d('description')}}
	</div>
	<div ng-if="mappings.link.current >= 0" class="p link">
		<a href="{{d('link')}}" target="_blank" style="position: relative">
			{{d('link', 'text') || 'More'}} <i class="fa fa-chevron-right"></i>
		</a>
	</div>
</div>