<div class="datarow clearfix" ng-class="{ 'has-img': mappings.image.current >= 0 }">
	<div ng-if="mappings.image.current >= 0" class="pull-left img" style="background-image: url({{d('image')}})"></div>
	<h1 ng-if="mappings.heading.current >= 0" class="heading">
		{{d('heading', true)}}
	</h1>
	<div ng-if="mappings.date.current >= 0" class="p date">
		<em>{{moment(d('date')).format(rows.dates)}}</em>
	</div>
	<div ng-if="mappings.description.current >= 0" class="p description">
		{{d('description', true)}}
	</div>
	<div ng-if="mappings.link.current >= 0" class="p link pull-right">
		<a href="{{d('link')}}" target="_blank" style="position: relative" ng-style="getCustomStyle()">
			{{d('link', 'text') || 'More'}} <i class="fa fa-chevron-right"></i>
		</a>
	</div>
	<div ng-if="mappings.price.current >= 0" class="p price pull-left">
		{{d('price')}} {{d('price', 'currency')}}
	</div>
</div>